*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Colors variable
$clr-accent: #FF8401;
$clr-menu: rgba(0, 0, 124, 0.75);


// Border width variable
$border-width: 0.1em;

// The file font
@font-face {
  font-family: 'Akira Expanded';
  src: url('/font/Akira-Expanded-Demo.otf');
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Akira Expanded', sans-serif;
  position: absolute;
}

// Background
.wrapper {
  background-image: url('/img/background-img.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow-y: scroll;
  overflow-x: hidden;
}

// desktop navbar hidden
.navbar-desktop {
  display: none;
}

// Mobile navbar
.navbar-mobile {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-start;
  padding: 2em;
  background-color: transparent;
  animation: slideDown 500ms;
  z-index: 10;

  .logo {
    color: white;
    z-index: 10;
    transition: 300ms;
    cursor: pointer;
    white-space: nowrap;

    &:hover,
    &:focus {
      transform: scale(0.95);
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .nav-links-mobile {
    display: none;
    transition: 300ms;

    .nav-link {
      padding: 1em;
    }

    li {
      list-style-type: none;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .hamburger {
    height: 2em;
    width: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 2rem;
    top: 1.5em;
    transition: 300ms;
    cursor: pointer;
    z-index: 10;

    &:hover,
    &:focus {
      transform: scale(0.95);
    }

    .line {
      background-color: white;
      width: 100%;
      height: 0.25em;
      border-radius: 30px;
      transition: 300ms;
    }
  }
}

// Hamburger menu nav
.nav-links-mobile.show {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: $clr-menu;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5em;
  animation: opacity 500ms;
  z-index: 9;

  .nav-link {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    animation: slideUp 500ms;

    .cta-nav {
      border: 0.1em solid white;
      width: 75%;
      text-align: center;
      padding: 1em 0;
    }

    .contact-cta {
      margin-top: 5em;
      transition: 300ms;

      // Hover
      &:hover,
      &:focus {
        background-color: white;
        color: black;
      }
    }

    .newsletter-cta {
      background-color: white;
      color: black;
    }
  }

  .media {
    display: flex;

    .items {
      display: flex;

      i {
        padding: 0 1em;
        font-size: clamp(1.5em, 3vw, 3em);
        transition: 300ms;

        &:hover,
        &:focus {
          transform: translateY(5px);
          color: $clr-accent;
        }
      }
    }
  }
}

.hamburger.active {

  .line1 {
    transform: rotate(45deg) translateY(16px);
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    transform: rotate(-45deg) translateY(-15px)
  }
}

// Upper section
.upper {
  width: 100vw;
  color: white;
  height: 50vh;

  .hero {
    background-image: url('/img/main-bg-mobile.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .title {
      margin-top: 8em;
      animation: letterSpacing 1s ease;

      .main-name {
        color: $clr-accent;
        font-size: clamp(1.5em, 6vw, 8em);
        white-space: nowrap;
      }
    }

    .names {
      -webkit-text-stroke: 0.05em;
      -webkit-text-stroke-color: white;
      color: transparent;
      font-size: clamp(1.5em, 6vw, 5em);
      text-align: center;
      white-space: nowrap;

      .origin-name {
        animation: slideUp 2s;
      }

      .name2 {
        animation: slideUp 1s;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
      }

      .name3 {
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.25);
        animation: slideUp .5s;
      }
    }
  }
}

// Lower section
.lower {
  width: 100vw;
  color: white;
  margin: 5em 0 0 2em;
  height: 100vh;
  // z-index: -1;

  .recent {
    width: 100%;
    height: 100%;

    .recent-title {
      font-size: clamp(2em, 3vw, 5em);
    }

    .posts {
      width: 100%;
      height: 100%;
      margin: 2em 0 0 0;
      // z-index: -1;

      .post {
        background-image: url('/img/cover-bg.png');
        background-size: cover;
        background-position: center;
        height: 35%;
        width: 75%;
        margin: 2em 2em 5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        position: relative;
        // z-index: 0;
        transition: 300ms;

        &:nth-child(2) {
          background-image: url('/img/interview2.jpg');
          background-size: cover;
          background-position: center;
        }

        // Top Line
        &::after {
          content: '';
          width: 100%;
          height: 0.2em;
          background-color: white;
          position: absolute;
          top: -1em;
          left: 0;
          transition: 300ms;
          // z-index: 0;
        }

        // Hover Effect
        &:hover,
        &:focus {
            transform: translateY(5px);
            -webkit-box-shadow: inset 0px -45px 50px 5px #000000;
            box-shadow: inset 0px -150px 1500px 5px #000000;
            border-radius: 30px;


          &::after {
            height: 0.5em;
            background-color: $clr-accent;
            border-radius: 30px;
            z-index: 0;
          }
        }

        .header {
          // margin: 5em 0 5em 0;
          z-index: 1;

          .genre {
            font-family: 'Poppins', sans-serif;
            color: rgb(190, 190, 190);
            font-weight: 800;
            text-transform: uppercase;
          }

          .post-title {
            font-size: clamp(1em, 3vw, 3em);
          }
        }

        .cta {
          color: white;
          text-decoration: none;
          padding: 0.2em 1em;
          // margin: 2em 0 2em 0;
          width: 90%;
          border: $border-width solid white;
          font-size: clamp(1.5em, 3vw, 5em);
          white-space: nowrap;
          cursor: pointer;
          transition: 300ms;

          &:hover,
          &:focus {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-family: 'Poppins';
  text-align: center;
  padding: 1em 0;

  .media {

    .items {

      i {
        padding: 0 1em 0 1em;
        font-size: clamp(1em, 3vw, 1em);
        transition: 300ms;

        &:hover,
        &:focus {
          transform: translateY(-5px);
          color: $clr-accent;
        }
      }
    }
  }

  .links {
    margin: 1em 0 1em 0;
    font-size: clamp(1em, 3vw, 2em);
  }

  .section-links {
    font-size: clamp(1em, 3vw, 2em);
    display: flex;
    flex-direction: column;
    // margin: 1em 0;

    .contact {

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .newsletter {

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  p {
    font-size: clamp(0.8em, 2vw, 1em);
    letter-spacing: 2px;
  }
}

.wrapper {
  height: 100vh;
  width: 100%;

.contact-main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin: 10em 0 2em 0;

  h1 {
    color: white;
    font-size: clamp(3em, 2vw, 5em);
  }

  .form-container {
    height: 110vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .form {
      display: flex;
      align-content: center;
      width: 80%;
      justify-content: center;
      flex-direction: column;

      .submit-btn {
        padding: 0.5em;
        width: 50%;
        margin-top: 2em;
        cursor: pointer;
        background-color: white;
        color: black;
        font-family: 'Akira Expanded';
      }

      input {
        background-color: transparent;
        border: 0.1rem solid white;
        padding: 1rem;
        color: white;
        font-size: 1.2em;
        outline: none;
        transition: 300ms;
        width: 100%;

        &:focus {
          background-color: white;
          color: black;
        }
      }

      label {
        padding: 1rem 0 0 0;
        margin: 2em 0;
        font-size: clamp(1em, 2vw, 2em);
        // text-align: left;
      }

      .input {
        background-color: transparent;
        border: 3px solid white;
        padding: 1rem;
        color: white;
        font-size: 1.2em;
        outline: none;
        transition: 300ms;
        width: 100%;


        &:focus {
          background-color: white;
          color: black;
        }
      }
    }
  }

    .back-cta, p{
      font-family: 'Poppins';
      padding: 5em 0;
    }

    .back-cta {
      padding: 0 0.5em;
      color: rgb(184, 32, 255);
    }
  }
}

  .newsletter {
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;

    h3 {

      font-family: 'Akira Expanded';
      color: white;
    }

    .back-cta, p{
      font-family: 'Poppins';
      padding: 2em 0;
      text-align: center;
    }

    .back-cta {
      padding: 0 0.5em;
      color: rgb(184, 32, 255);
    }

    input {
      background-color: transparent;
      border: 0.1rem solid white;
      color: white;
      font-size: 1.3em;
      outline: none;
      transition: 300ms;
      width: 100%;

      &:focus {
        background-color: white;
        color: black;
      }
  }
}

// Media Queries
@media only screen and (orientation: landscape) {
  .upper {
    height: 100vh;

    .hero {
      height: 100%;
      width: 100%;

      .names {
        font-size: clamp(3em, 4vw, 5em);
      }
    }
  }

  .lower{
    height: 150vh;
    display: flex;
    flex-direction: row;

    .recent {
      height: 100%;

      .posts {
        height: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 5em;

        .post {
          height: 100vh;
        }
      }
    }
  }

  .contact-main {
    height: 100%;

    .form-container {
      margin: 15em 0;
    }
  }

  .newsletter {
    color: white;
    margin: 10em 0;
    text-align: center;

    h3 {
      font-family: 'Akira Expanded';
    }
  }
}

@media only screen and(min-width: 768px) {

  .navbar-desktop {
    display: flex;
    width: 100%;
    z-index: 10;
    padding: 3em;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
    -webkit-box-shadow: inset 0px 50px 2000px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 50px 50px 5px rgba(0, 0, 0, 0.5);
    animation: slideDown 1s;


    .logo {
      color: white;
      z-index: 10;
      transition: 300ms;
      cursor: pointer;
      white-space: nowrap;

      &:hover,
      &:focus {
        transform: scale(0.95);
      }

      a {
        color: white;
        text-decoration: none;
      }
    }

    .nav-links-desktop {
      display: flex;

      .cta-nav {
        border: $border-width solid white;
        padding: 1em 2em;
        transition: 300ms;

        &:hover,
        &:focus {
          background-color: white;
          color: black;
        }
      }

      .media {
        display: none;
      }

      .newsletter-cta {
        background-color: white;
        color: black;
        transition: 300ms;

        &:hover,
        &:focus {
          transform: scale(0.95);
        }
      }

      li {
        list-style-type: none;
        padding: 0 1em;
      }
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .navbar-mobile {
    display: none;
  }

  .upper {

    .hero {
      width: 90%;
    }
  }

  .lower {

    .recent {
      width: 90%;

      .posts {
        display: flex;
        flex-direction: row;

        .post {
          height: 50%;
        }
      }
    }
  }

  .newsletter {
    h3 {
      font-family: 'Akira Expanded';
      color: white;
    }
  }
}

@media only screen and(min-width: 1440px) {

  .navbar-desktop {

    .nav-links-desktop {

      .media {
        display: flex;
        align-items: center;

        i {
          padding: 0 0.5em;
          font-size: clamp(0.5em, 3vw, 1.3em);
          transition: 300ms;

          &:focus,
          &:hover {
            color: $clr-accent;
          }
        }
      }
    }


  }
  .upper {
    height: 100vh;
    display: flex;
    justify-content: flex-end;

    .hero {
      background-image: url('/img/main-section-bg.png');
      width: 90%;

      .main-name, .names {
        margin-right: 2em;
      }
    }
  }

  .lower {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

      .recent {
        width: 100%;

      .posts {
        display: flex;
        margin: 0;
      }
    }
  }

  .contact-main {
    .form-container {
      width: 50%;

      .form {
        width: 50%;
      }
    }
  }
}

@media only screen and(min-width: 1920px) {
  .upper {
    height: 90vh;

    .hero {
      width: 75%;

      .main-name {
        margin-right: 3em;
      }
    }
  }

  .lower {

    .recent {
      width: 90%;
    }
  }
}

// Keyframes
@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes letterSpacing {
  0% {
    opacity: 0;
    letter-spacing: 2em;
    transform: scaleY(1.2);
  }

  100% {
    opacity: 1;
    letter-spacing: 0px;
    transform: scaleY(1);;
  }
}
