*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url("/font/Akira-Expanded-Demo.otf");
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Akira Expanded', sans-serif;
  position: absolute;
}

.wrapper {
  background-image: url("/img/background-img.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow-y: scroll;
}

.navbar-desktop {
  display: none;
}

.navbar-mobile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2em;
  background-color: transparent;
  -webkit-animation: slideDown 500ms;
          animation: slideDown 500ms;
  z-index: 10;
}

.navbar-mobile .logo {
  color: white;
  z-index: 10;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.navbar-mobile .logo:hover, .navbar-mobile .logo:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.navbar-mobile .logo a {
  color: white;
  text-decoration: none;
}

.navbar-mobile .nav-links-mobile {
  display: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar-mobile .nav-links-mobile .nav-link {
  padding: 1em;
}

.navbar-mobile .nav-links-mobile li {
  list-style-type: none;
}

.navbar-mobile .nav-links-mobile a {
  color: white;
  text-decoration: none;
}

.navbar-mobile .hamburger {
  height: 2em;
  width: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  right: 2rem;
  top: 1.5em;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  z-index: 10;
}

.navbar-mobile .hamburger:hover, .navbar-mobile .hamburger:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.navbar-mobile .hamburger .line {
  background-color: white;
  width: 100%;
  height: 0.25em;
  border-radius: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav-links-mobile.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 124, 0.75);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5em;
  -webkit-animation: opacity 500ms;
          animation: opacity 500ms;
  z-index: 9;
}

.nav-links-mobile.show .nav-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: slideUp 500ms;
          animation: slideUp 500ms;
}

.nav-links-mobile.show .nav-link .cta-nav {
  border: 0.1em solid white;
  width: 75%;
  text-align: center;
  padding: 1em 0;
}

.nav-links-mobile.show .nav-link .contact-cta {
  margin-top: 5em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav-links-mobile.show .nav-link .contact-cta:hover, .nav-links-mobile.show .nav-link .contact-cta:focus {
  background-color: white;
  color: black;
}

.nav-links-mobile.show .nav-link .newsletter-cta {
  background-color: white;
  color: black;
}

.nav-links-mobile.show .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links-mobile.show .media .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links-mobile.show .media .items i {
  padding: 0 1em;
  font-size: clamp(1.5em, 3vw, 3em);
}

.hamburger.active .line1 {
  -webkit-transform: rotate(45deg) translateY(16px);
          transform: rotate(45deg) translateY(16px);
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  -webkit-transform: rotate(-45deg) translateY(-15px);
          transform: rotate(-45deg) translateY(-15px);
}

.upper {
  width: 100vw;
  color: white;
  height: 50vh;
}

.upper .hero {
  background-image: url("/img/main-bg-mobile.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upper .hero .title {
  margin-top: 8em;
}

.upper .hero .title .main-name {
  color: #FF8401;
  font-size: clamp(1.5em, 6vw, 8em);
  white-space: nowrap;
}

.upper .hero .names {
  -webkit-text-stroke: 0.05em;
  -webkit-text-stroke-color: white;
  color: transparent;
  font-size: clamp(1.5em, 6vw, 5em);
  text-align: center;
  white-space: nowrap;
}

.upper .hero .names .origin-name {
  -webkit-animation: slideUp 1s;
          animation: slideUp 1s;
}

.upper .hero .names .name2 {
  -webkit-animation: slideUp .5s;
          animation: slideUp .5s;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}

.upper .hero .names .name3 {
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.25);
  -webkit-animation: slideUp .25s;
          animation: slideUp .25s;
}

.lower {
  width: 100vw;
  color: white;
  margin: 5em 0 0 2em;
  height: 100vh;
  z-index: -1;
}

.lower .recent {
  width: 100%;
  height: 100%;
}

.lower .recent .recent-title {
  font-size: clamp(2em, 3vw, 5em);
}

.lower .recent .posts {
  width: 100%;
  height: 100%;
  margin: 2em 0 0 0;
  z-index: -1;
}

.lower .recent .posts .post {
  background-image: url("/img/cover-bg.png");
  background-size: cover;
  background-position: center;
  height: 35%;
  width: 75%;
  margin: 2em 2em 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  position: relative;
  z-index: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.lower .recent .posts .post:nth-child(2) {
  background-image: url("/img/interview2.jpg");
  background-size: cover;
  background-position: center;
}

.lower .recent .posts .post::after {
  content: '';
  width: 100%;
  height: 0.2em;
  background-color: white;
  position: absolute;
  top: -1em;
  left: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 0;
}

.lower .recent .posts .post:hover, .lower .recent .posts .post:focus {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: inset 0px -45px 50px 5px #000000;
  box-shadow: inset 0px -150px 1500px 5px #000000;
  border-radius: 30px;
}

.lower .recent .posts .post:hover::after, .lower .recent .posts .post:focus::after {
  height: 0.5em;
  background-color: #FF8401;
  border-radius: 30px;
  z-index: 0;
}

.lower .recent .posts .post .header {
  z-index: 1;
}

.lower .recent .posts .post .header .genre {
  font-family: 'Poppins', sans-serif;
  color: #bebebe;
  font-weight: 800;
  text-transform: uppercase;
}

.lower .recent .posts .post .header .post-title {
  font-size: clamp(1em, 3vw, 3em);
}

.lower .recent .posts .post .cta {
  color: white;
  text-decoration: none;
  padding: 0.2em 1em;
  width: 90%;
  border: 0.1em solid white;
  font-size: clamp(1.5em, 3vw, 5em);
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.lower .recent .posts .post .cta:hover, .lower .recent .posts .post .cta:focus {
  background-color: white;
  color: black;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: black;
  font-family: 'Poppins';
  text-align: center;
  padding: 1em 0;
}

.footer .media .items i {
  padding: 0 1em 0 1em;
  font-size: clamp(1em, 3vw, 1em);
}

.footer .links {
  margin: 1em 0 1em 0;
  font-size: clamp(1em, 3vw, 2em);
}

.footer .section-links {
  font-size: clamp(1em, 3vw, 2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .section-links .contact:hover, .footer .section-links .contact:focus {
  text-decoration: underline;
}

.footer .section-links .newsletter:hover, .footer .section-links .newsletter:focus {
  text-decoration: underline;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer p {
  font-size: clamp(0.8em, 2vw, 1em);
  letter-spacing: 2px;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.wrapper .contact-main {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.wrapper .contact-main h1 {
  color: white;
  font-size: clamp(3em, 2vw, 5em);
}

.wrapper .contact-main .form-container {
  height: 110vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .contact-main .form-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.wrapper .contact-main .form-container .form .submit-btn {
  padding: 0.5em;
  width: 50%;
  margin-top: 2em;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: 'Akira Expanded';
}

.wrapper .contact-main .form-container .form input {
  background-color: transparent;
  border: 0.1rem solid white;
  padding: 1rem;
  color: white;
  font-size: 1.2em;
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  width: 100%;
}

.wrapper .contact-main .form-container .form input:focus {
  background-color: white;
  color: black;
}

.wrapper .contact-main .form-container .form label {
  padding: 1rem 0 0 0;
  margin: 2em 0;
  font-size: clamp(1em, 2vw, 2em);
}

.wrapper .contact-main .form-container .form .input {
  background-color: transparent;
  border: 3px solid white;
  padding: 1rem;
  color: white;
  font-size: 1.2em;
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  width: 100%;
}

.wrapper .contact-main .form-container .form .input:focus {
  background-color: white;
  color: black;
}

.wrapper .contact-main .back-cta, .wrapper .contact-main p {
  font-family: 'Poppins';
  padding: 2em 0;
}

.wrapper .contact-main .back-cta {
  padding: 0 0.5em;
}

.newsletter {
  height: 100vh;
  width: 100vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

.newsletter h3 {
  font-family: 'Akira Expanded';
  color: white;
}

.newsletter .back-cta, .newsletter p {
  font-family: 'Poppins';
  padding: 2em 0;
  text-align: center;
}

.newsletter .back-cta {
  padding: 0 0.5em;
}

.newsletter input {
  background-color: transparent;
  border: 0.1rem solid white;
  color: white;
  font-size: 1.3em;
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  width: 100%;
}

.newsletter input:focus {
  background-color: white;
  color: black;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (orientation: landscape) {
  .upper {
    height: 100vh;
  }
  .upper .hero {
    height: 100%;
    width: 100%;
  }
  .upper .hero .names {
    font-size: 2em;
  }
  .lower {
    height: 150vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lower .recent {
    height: 100%;
  }
  .lower .recent .posts {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-bottom: 5em;
  }
  .lower .recent .posts .post {
    height: 100vh;
  }
  .contact-main {
    height: 100%;
  }
  .contact-main .form-container {
    margin: 15em 0;
  }
  .newsletter {
    color: white;
    margin: 10em 0;
    text-align: center;
  }
  .newsletter h3 {
    font-family: 'Akira Expanded';
  }
}

@media only screen and (min-width: 768px) {
  .navbar-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: white;
    position: fixed;
  }
  .navbar-desktop .logo {
    color: white;
    z-index: 10;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: pointer;
  }
  .navbar-desktop .logo:hover, .navbar-desktop .logo:focus {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .navbar-desktop .logo a {
    color: white;
    text-decoration: none;
  }
  .navbar-desktop .nav-links-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-desktop .nav-links-desktop .cta-nav {
    border: 0.1em solid white;
    padding: 1em 2em;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .navbar-desktop .nav-links-desktop .cta-nav:hover, .navbar-desktop .nav-links-desktop .cta-nav:focus {
    background-color: white;
    color: black;
  }
  .navbar-desktop .nav-links-desktop .newsletter-cta {
    background-color: white;
    color: black;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .navbar-desktop .nav-links-desktop .newsletter-cta:hover, .navbar-desktop .nav-links-desktop .newsletter-cta:focus {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .navbar-desktop .nav-links-desktop li {
    list-style-type: none;
    padding: 0 1em;
  }
  .navbar-desktop a {
    color: white;
    text-decoration: none;
  }
  .navbar-mobile {
    display: none;
  }
  .upper .hero {
    width: 90%;
  }
  .lower .recent {
    width: 90%;
  }
  .lower .recent .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lower .recent .posts .post {
    height: 50%;
  }
  .newsletter h3 {
    font-family: 'Akira Expanded';
    color: white;
  }
}

@media only screen and (min-width: 1440px) {
  .upper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .upper .hero {
    background-image: url("/img/main-section-bg.png");
    width: 90%;
  }
  .upper .hero .main-name, .upper .hero .names {
    margin-right: 2em;
  }
  .lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  .lower .recent {
    width: 100%;
  }
  .lower .recent .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .contact-main .form-container {
    width: 50%;
  }
  .contact-main .form-container .form {
    width: 50%;
  }
}

@media only screen and (min-width: 1920px) {
  .upper {
    height: 90vh;
  }
  .upper .hero {
    width: 75%;
  }
  .upper .hero .main-name {
    margin-right: 3em;
  }
  .lower .recent {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */